<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Universidade</title>
</head>
<body>
    <h1>Cursos</h1>
    <ul>
        {% for course in allCourses  %}
            <li>
                <a href="{% url 'curso:description' course.idCourse %}">
                    {{ course }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'curso:newCourse'%}">Novo Curso</a>
</body>
</html>

