{% extends '../base.html' %}

{% block content%}

    <h1 class="display-3">
        Cursos
    </h1>
    <div class="row">
        <div class="col">
            <p>
                <a href="{% url 'curso:newCourse'%}">Novo Curso</a>
            </p>
            <p>
                <a href="{% url 'curso:nova_materia'%}">Nova Matéria</a>
            </p>
            <p>
                <a href="{% url 'curso:novo_estudante'%}">Novo Estudante</a>
            </p>
        </div>    
        <div class="col">
            <ul>
                {% for course in object_list  %}
                    <div class="col">
                        <li>
                            <a href="{% url 'curso:description' course.idCourse %}">
                                {{ course }}
                            </a>
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
