<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Detalhes do Curso
    </title>
</head>
    <body>
        <h1>{{ details }}</h1>
        <b><h3>Descrição:</h3></b> 
            {{ details.descriptionCourse }}
        <b><h3>Matérias:</h3></b>  
            <ul>
                {% for allMatters in matters %}
                <li>
                    <a href="{% url 'curso:matterDesc' allMatters.idMatter %}">
                        {{allMatters}}
                    </a>
                </li>
                    <p>Ementa: {{allMatters.descriptionMatter}}</p>
                {% endfor %}
            </ul>
        </body>
</html>